* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.calculator {
  width: 310px;
  background: #222;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#display {
  width: 100%;
  height: 60px;
  font-size: 28px;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  padding: 20px;
  font-size: 20px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
}

.btn:hover {
  background: #444;
}

.operator {
  background: #ff9f0a;
}

.operator:hover {
  background: #e48900;
}

.equal {
  background: #0a84ff;
}

.equal:hover {
  background: #006fe0;
}

.zero {
  grid-column: span 2;
}